body{
    margin: 0;
    background-color: #056679;
    font-family: sans-serif;
}

.todo-container{
    width: 350px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
}

.input-section{
    background-color: #ececee;
    padding: 18px;
    border-radius: 5px;
    box-shadow:  6px 6px 3px 2px #373737cc;
}

.input-section input{
    border-radius: 5px;
    border: 1px solid silver;
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
}

.input-section input::placeholder {
    color:silver;
}
.input-section h1 {
    margin: 0;
    margin-bottom: 15px;
    color: #ababaa;
}
ul{
    text-align: left;
    padding: 0;
}

ul li {
    list-style: none;
    background-color: #fff;
    padding: 15px;
    border-radius: 5px;
    margin-bottom: 10px;
    color: gray;
    box-shadow: 6px 6px 3px 2px #373737cc;
    display: flex;
}

ul li i{
    cursor: pointer;
}

ul li .editIcon{
    margin-right : 15px;
}

.action-bar {
    flex: 1;
    text-align: right;
}